.game-layout {
  display: flex;
  gap: var(--spacing-md);
  max-width: var(--desktop-breakpoint);
  margin: 0 auto;
  padding: var(--spacing-lg) var(--spacing-xl);
  min-height: calc(100vh - var(--topbar-height));

  &__main {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }
}
